@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Roboto:wght@400;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --font-primary: "Baloo Da 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Mulish", serif;
}

.hamburguer {
  width: 2.5rem;
  height: 1.5rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  transition: all 0.5s;
}

.hamburguer span {
  top: -0.2rem;
  position: absolute;
  justify-content: center;
  background-color: #0082c8;
  border-radius: 3px;
  left: 3rem;
  height: 2rem;
  width: 5rem;
  align-items: center;
  display: flex;
  color: #fff;
  font-family: var(--font-action);
  opacity: 0;
  transition: all 0.5s;
}

.show-menu .hamburguer:hover span{
  opacity: 1;
}

.show-menu .hamburguer {
  right: 16rem;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}

.line {
  width: 100%;
  height: 0.15rem;
  background-color: #fff;
  box-shadow: 0rem 0rem 3px #000;
  transition: all 1s;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.img-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  left: 10%;
  top: 30%;
}

.banner h1 {
  color: #ffffff;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 200;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.5rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1.5s 0.4s forwards;
}

.banner p {
  font-family: var(--font-secundary);
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1.5s 0.55s forwards;
}

.banner button {
  font-family: var(--font-action);
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: #667db6;
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  );
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: moveBannerButton 1.5s 0.7s forwards;
  transition: all ease 0.2s;
}
.banner button:hover {
  font-size: 1.3rem;
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0rem) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes moveBannerButton {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0rem) rotateY(0deg);
    opacity: 1;
  }
}

.sidebar {
  width: 20rem;
  height: 100%;
  background: #d3cce3;
  background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
  background: linear-gradient(to right, #e9e4f0, #d3cce3);
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all ease 0.5s;
}

.show-menu .sidebar {
  right: 0;
}

.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-link {
  font-family: var(--font-action);
  font-size: 2rem;
  color: #2b2b2b;
  transition: color 0.5s;
}

.menu-link:hover {
  color: #0082c8;
}
.social-media {
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  align-items: center;
  color: #fff;
}

.fab {
  color: #2b2b2b;
  transition: color 0.5s;
}
.fab:hover {
  color: #0082c8;
}
